* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #0a62d0;
	--secondary-color: #e0e5e9;
	--tertiary-color: #f3d849;
	--tertiary-shade: rgba(243, 216, 73, 0.5);
	--dark: #191718;
	--dark-shade: rgba(25, 23, 24, 0.75);
}

body {
	color: var(--dark);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
	padding: 20px 35px;
	background-color: var(--dark-shade);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background-image: url('../images/hero-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 80%;
	background-repeat: no-repeat;
	z-index: 9999;
}

header h1 {
	background-color: var(--dark);
	border: 4px solid goldenrod;
	border-radius: 25px;
	padding: 5px;
	font-weight: bold;
	margin: 0;
	font-size: 50px;
	color: var(--secondary-color);
	text-shadow: 0 0 10px rgba(255, 255, 0, 0.35);
}

header a {
	text-decoration: none;
	color: var(--primary-color);
}

header nav {
	margin: 10px 0;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	text-shadow: 0 0 50px rgba(224, 224, 12, 0.904);
}

header nav ul li a {
	background: var(--secondary-color);
	border: 4px solid goldenrod;
	border-radius: 15px;
	padding: 10px 40px;
	margin: 0 40px;
	font-weight: lighter;
	font-size: 0.85vw;
	text-shadow: 0 0 10px rgba(172, 172, 61, 0.5);
}

header nav ul li a:hover {
	background: var(--primary-color);
	color: var(--dark-shade);
	border-radius: 15px;
	text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */
footer {
	background: var(--primary-color);
	padding: 20px 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

footer h2 {
	font-size: 28px;
	border-bottom: 3px solid var(--dark);
	color: var(--secondary-color);
	padding: 10px;
	text-align: center;
	width: 100%;
	text-shadow: 0 0 10px rgba(255, 255, 0, 0.25);
}

footer div {
	line-height: 1.5;
	text-align: right;
}

footer a {
	color: var(--secondary-color);
}

.footnotes {
	display: flex;
	flex-wrap: wrap;
}

.social-tag {
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	text-shadow: 0 0 50px rgba(224, 224, 12, 0.904);
}

/* END FOOTER STYLES */

/* HERO STYLES START */
.hero {
	background-color: var(--dark);
	background-image: url('../images/hero-bg.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
	background-attachment: fixed;
	background-position: 100%;
}

hero.responsive {
	width: 100%;
	height: auto;
}

.hero-cta {
	/* width: 50%; */
	text-align: center;
	margin: 15.75%;
	color: #fff;
	font-size: 33px;
	text-shadow: 0 0 10px rgba(255, 255, 0, 0.35);
	line-height: 1.2;
}

.hero-cta h2 {
	font-style: italic;
	font-size: 75px;
	color: var(--primary-color);
	align-items: center;
	margin-left: 8.5rem;
}

/* HERO STYLES END */

/* Who is d.Bull Style Starts*/
#my-story {
	background-color: var(--dark-shade);
	font-size: 26px;
	padding: 25px;
}

.flex-about {
	display: flex;
	border: 4px solid goldenrod;
	flex-wrap: wrap;
	border-radius: 25px;
}
.about-callout {
	text-align: center;
}

.flex-split {
	padding: 35px;
	text-align: justify;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.075);
	flex: 2;
	width: 33.33333333%;
}

.flex-split p {
	color: var(--secondary-color);
}

.flex-split img {
	border-radius: 500px;
}

/* Who is d.Bull Style Ends*/

/* design reviews style starts */
#crafted-collection {
	background-color: goldenrod;
	opacity: 0.8;
}

#crafted-collection h2 {
	color: #0a62d0;
}
article.design {
	width: 80%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
	margin-bottom: 25px;
}

div.design-bio {
	text-align: center;
	padding: 10px 20px;
}

.designs {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: var(--primary-color);
	border-radius: 35px;
}

.design {
	margin: 20px;
	flex: 1;
	background: var(--tertiary-shade);
	color: var(--primary-color);
	border-radius: 25px;
	padding-bottom: 5px;
	border: 10px solid goldenrod;
}

.design img {
	width: 100%;
	background-color: var(--tertiary-shade);
	border-radius: 20px 20px 0 0;
}

.design img:hover {
	-webkit-animation: shake 0.075s ease-in-out 0.1s infinite alternate;
}

.design-bio {
	padding: 20px;
	line-height: 1.3;
}

.design-bio h3 {
	font-size: 28px;
}

.design-bio h4 {
	font-weight: lighter;
	font-size: 22px;
	margin-bottom: 15px;
}

.design-bio p {
	font-size: 26px;
	text-align: justify;
}
/* design STYLES END */

/* Hit Me Up! Section Begins */
.contact {
	background: var(--dark);
	opacity: 0.75;
}

.contact h2 {
	color: var(--primary-color);
}

.contact-info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact-info > * {
	flex: 1;
	margin: 15px;
}

.contact-info iframe {
	height: 400px;
	border-radius: 25px;
}

.contact-info div {
	color: white;
}

.contact-info h3 {
	color: var(--primary-color);
	font-size: 32px;
}

.contact-info p,
.contact-info address {
	margin: 20px 0;
	line-height: 1.5;
	font-size: 16px;
	font-style: normal;
}

.contact-form input,
.contact-form textarea {
	display: block;
	padding: 7px 15px;
	font-size: 16px;
	color: var(--secondary-color);
	width: 100%;
	margin-bottom: 15px;
	margin-top: 5px;
	border-radius: 15px;
	border: 4px solid goldenrod;
	background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
	background-color: rgba(255, 255, 255, 1);
	outline: none;
}

.contact-form button {
	width: 100%;
	background: var(--primary-color);
	color: var(--secondary-color);
	text-align: center;
	padding: 15px 0;
	font-size: 16px;
	border-radius: 15px;
	border: 4px solid goldenrod;
}

.contact-form button:hover {
	color: var(--primary-color);
	background: var(--dark);
}

.contact-info a {
	color: var(--primary-color);
}

/* REACH OUT STYLES END */

/* UTILITIES */
/* STYLE ALL SECTION TAGS */
section {
	padding: 60px;
}
/* SECTION TITLE STYLES START */
.section-title {
	font-size: 48px;
	border-bottom: 3px solid;
	color: var(--secondary-color);
	padding-bottom: 20px;
	text-align: center;
	margin: 0 auto 35px auto;
	width: 50%;
	text-shadow: 0 0 10px rgba(255, 255, 0, 0.25);
}

.primary-border {
	border-color: var(--primary-color);
}

.secondary-border {
	border-color: var(--dark);
}
/* SECTION TITLE STYLES END */

.flex-row {
	display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
	header {
		padding-bottom: 0;
		justify-content: center;
		position: relative;
	}

	header h1 {
		width: 100%;
		text-align: center;
	}

	header nav ul {
		margin-top: 30px;
		width: 100%;
		justify-content: center;
		flex-direction: column;
		align-content: stretch;
	}

	header nav ul li a {
		font-size: 18px;
		margin: auto;
		background: none;
	}

	footer h2,
	footer div {
		text-align: center;
		width: 100%;
	}

	.hero-cta,
	.hero-form {
		width: 100%;
	}

	.hero-cta {
		text-align: center;
	}

	.section-title {
		width: 80%;
	}

	.design {
		flex: 0 70%;
	}

	.contact-info iframe {
		flex: 1 100%;
	}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
	section {
		padding: 30px 15px;
	}

	.customer h3 {
		flex: 1 100%;
		text-align: center;
	}

	.customer-info {
		flex: 2 100%;
		text-align: center;
		justify-content: center;
	}

	.customer-img {
		flex: 0 32%;
		margin-right: 0;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.customer-text {
		flex: 100%;
	}

	.design-bio h3,
	.design-bio h4 {
		display: block;
	}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
	.hero-form button {
		width: 100%;
	}

	.section-title {
		width: 95%;
	}

	.intro p {
		width: 100%;
	}

	.design {
		flex: 0 100%;
	}

	.contact-info {
		text-align: center;
	}

	.contact-info > * {
		flex: 0 100%;
	}

	.contact-form {
		order: 3;
	}
}
@-webkit-keyframes shake {
	from {
		-webkit-transform: rotate(3deg);
	}
	to {
		-webkit-transform: rotate(-3deg);
		-webkit-transform-origin: center center;
	}
}

.fa {
	padding: 20px;
	font-size: 60px;
	width: 60px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.social:hover {
	opacity: 0.5;
}
.fa-google {
	background: white;
	color: var(--primary-color);
}

.fa-linkedin {
	background: var(--tertiary-color);
	color: white;
}
.fa-instagram {
	background: var(--dark-shade);
	color: white;
}
